<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Dapper" version="1.13" targetFramework="net40" />
  <package id="Dapper.Contrib" version="1.0" targetFramework="net40" />
  <package id="Dapper.Mapper" version="1.1.0" targetFramework="net40" />
  <package id="DapperExtensions" version="1.4.1" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net40" />
  <package id="Moq.Contrib" version="0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="NUnitHelpers" version="0.1.2.0" targetFramework="net40" />
</packages>